.about {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1 {
    color: #FF8A00;
    font-size: 96px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    z-index: 1000;
}

.about div {
    background: #26C36E99;
    width: 65%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto Condensed;
    z-index: 1000;
}