.team {
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 125px;
    padding-left: 300px;
}

.team h1 {
    color: #DB0A0A;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-weight: bolder;
    font-size: 96px;
    margin: 0;
    margin-bottom: 75px;
    z-index: 100;
}

.team .card {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    z-index: 100;
}

.team .card img{
    height: 370px;
    width: 370px;
    border-radius: 50%;
}

.team .card:last-child {
    margin-bottom: 200px;
}